@charset "utf-8";
@font-face {
  font-family: "game font";
  src: url("webfonts/game_font/game-font-webfont.woff");
}
@font-face {
  font-family: "alagard";
  src: url("webfonts/alagard/alagard-webfont.woff");
}
@font-face {
  font-family: "ms gothic";
  src: url("webfonts/MS-UIGothic.ttf");
}

:root {
  --green: #99e550;
  --pink: #e9099b;
  --dpurple: #594e99;
  --mpurple: #7b5fa8;
  --lpurple: #d8d6f2;
  --dark: #0e0221;
}

body {
  font-family: ms gothic;
  font-size: 12.5px;
  margin-left: 5px;
  background-color: var(--lpurple);
  position: absolute;
}
a {
  color: var(--pink);
}
a:visited {
  color: var(--pink);
}
h1 {
  font-family: alagard;
  font-size: xx-large;
  font-weight: normal;
  color: var(--dark);
  padding: 0;
  margin: 0;
  text-decoration: underline;
}
h2 {
  font-family: alagard;
  color: var(--dark);
  text-decoration: underline;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: medium;
}

.header {
  position: absolute;
  left: 275px;
  top: 50px;
}

/* side image and thought bubble */
#portrait {
  position: absolute;
  left: 900px;
  top: 196px;
}

.statusbox {
  width: 201px;
  height: 71px;
  position: absolute;
  top: 206px;
  left: 922px;
  padding: 5px;
}

.statusbox a {
  color: var(--dpurple);
}

#statuscafe-username {
  font-weight: bold;
}

#statuscafe-content {
  top: 14px;
  position: relative;
  left: 1px;
  text-align: center;
}

/* main frame */
#mframe {
  position: absolute;
  background-color: var(--lpurple);
  border: solid 2px white;
  border-radius: 2px;
  top: 161px;
  left: 381px;
}

/* links sidebar */
#nav {
  background-color: var(--lpurple);
  border: solid 2px white;
  border-radius: 2px;
  width: 186px;
  height: 234px;
  position: absolute;
  top: 161px;
  left: 175px;
  padding: 5px;
}

#nav h2 {
  text-decoration: none;
  text-align: center;
  padding-bottom: 5px;
}

#nav ul {
  list-style-type: none;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

/* webrings sidebar */
#webrings {
  background-color: var(--lpurple);
  border: solid 2px white;
  border-radius: 2px;
  padding: 5px 2px 5px;
  width: 192px;
  height: 222px;
  position: absolute;
  left: 175px;
  top: 414px;
  overflow: auto;
}

#webrings h2 {
  text-decoration: none;
  text-align: center;
  padding-bottom: 6px;
}

#webrings::-webkit-scrollbar {
  display: none;
}

/* footer */
#footer {
  color: var(--mpurple);
  font-family: game font;
  font-size: medium;
  position: relative;
  top: 637px;
  left: 747px;
}

#footer a {
  color: var(--pink)
}



/* random stragglers */
#updates {
  list-style-type: "- ";
  margin: 5px;
  padding: 5px;
}