/*!@nkb "domain":"maneko.dev","rss":"","overflow":true,"readonly":false */
.site-box {
    background-image: url(https://maneko.nekoweb.org/maneko.dev/media/daybg.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    border: 1px dashed #5873a9;
    color: #000;
    text-shadow: 0 0 2px #5873a9
}

.site-box .sitefeature {
    display: none
}

.site-box>a>p {
    background-color: #ffffffe6;
    border: 1px dashed #8f8f8f;
    border-radius: 10px;
    padding: 3px;
    width: 150px;
    color: #000;
    position: absolute;
    top: 35px;
    right: -100px
}

.site-box>a>span {
    display: none
}

.site-box:after {
    content: url(https://maneko.nekoweb.org/maneko.dev/sitebox/felicia-cute2x.gif);
    transform: scale(1.2);
    position: absolute;
    bottom: 5px;
    left: -5px
}

.site-box::before {
    content: "♡ be happy ♡";
    font-size: 13px;
    position: absolute;
    top: -10px;
    right: 15px;
    background-color: #ffffffe6;
    padding: 2px;
    border: 1px dashed #8f8f8f;
    border-radius: 10px
}

.post-box {
    background-image: url(https://maneko.nekoweb.org/maneko.dev/media/daybg.png);
    background-size: 50%;
    background-position: 50% 50%;
    border: 1px dashed #8f8f8f;
    border-radius: 15px;
    text-shadow: 0 0 2px #5873a9;
    line-height: 12px;
    color: #000
}

.post-box .post-title {
    letter-spacing: 5px;
    font-size: 21px
}

.post-box div.post-box-inner {
    padding: 5px;
    width: 700px;
    background-color: #ffffffe6;
    border: 1px dashed #8f8f8f;
    border-radius: 10px;
    margin-left: 190px
}

.post-box:after {
    image-rendering: pixelated;
    content: url(https://maneko.nekoweb.org/maneko.dev/sitebox/felicia-cute2x.gif);
    position: absolute;
    transform: scale(1.4);
    top: 18px;
    left: 16px
}