@font-face {
  font-family: basiic;
  src: url("/maneko.dev/fonts/basiic.ttf");
}

body {
  font-family:
    ms pgothic,
    sans-serif;
  font-size: 13px;
}

.blog-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.big-title {
  display: flex;
  flex-wrap: wrap;
}

.box-wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffffd8;
  border: 5px dashed #000;
  border-radius: 10px;
  min-width: 250px;
  max-width: 800px;
  height: 650px;
  overflow: auto;
}

.box {
  border-radius: 10px;
  min-width: 250px;
  max-width: 800px;
  height: 650px;
  overflow: auto;
}

.content {
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-family:
    ms pgothic,
    sans-serif;
  padding: 2px 0px;
}

h1 {
  text-align: center;
}

p {
  padding: 5px 0px;
}
