:root {
	--accent1: #55A049;
	--accent2: #8F8F8F;
	--dark: #5873A9;
	--medium: #67B6BD;
	--light: #ffffff;
	--black: #3c3e3f;
}

/* main layout container */

.main-container {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	max-width: 750px;
	/* border: solid #ff0000 2px; */
}

.left {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	gap: 5px;
	width: 200px;
	/* border: solid #9900ff 2px; */
}

.left>.item {
	padding: 10px;
	background-color: var(--light);
	border: 1px dashed var(--accent2);
	border-radius: 10px;
}

.navigation ul {
	list-style-type: none;
	padding: 0;
}

.center {
	display: flex;
	flex-direction: column;
	/* border: solid #3333ff 2px; */
	flex-basis: 300px;
}

.center>.item {
	padding: 10px;
	background-color: var(--light);
	border: 1px dashed var(--accent2);
	border-radius: 10px;
}

.right {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 200px;
	/* border: solid #00ff40 2px; */
}

.right>.item {
	padding: 10px;
	background-color: var(--light);
	border: 1px dashed var(--accent2);
	border-radius: 10px;
}

/* basic styling */

body {
	background-image: url(/media/daybg.png);
	background-repeat: repeat;
	background-size: cover;
	margin-top: 250px;
	font-family: "MS PGothic", verdana, monospace;
	font-size: 12px;
	letter-spacing: 2px;
	color: var(--dark);
}

h1,
h2,
h3,
h4 {
	color: var(--black);
	font-family: bitbit;
	text-shadow: 1px 1px 1px var(--medium);
	margin: 0px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: underline;
}

#emphasis {
	font-weight: bold;
	color: var(--black);
	text-shadow: 1px 1px 1px var(--medium);
}

/* listening script */

#listening {
	padding-top: 10px;
	text-align: center;
}

#cover {
	width: 75%;
	border: 1px solid var(--accent2);
}

#trackName {
	margin: 2px 0 5px 0;
}

#artistName {
	margin: 1px;
	font-weight: bold;
	font-size: 10px;
	color: var(--black);
	text-shadow: 1px 1px 1px var(--medium);
}


/* browser things */

* {
	scrollbar-width: thin;
	scrollbar-color: var(--dark) white;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--dark);
	border-radius: 10px;
	border: 3px double #ffffff;
}

::selection {
	color: white;
	background: var(--dark);
}