/* (•̀ ω •́)✧ global stuff */

:root {
	--accent1: #55A049;
	--accent2: #8F8F8F;
	--dark: #5873A9;
	--medium: #67B6BD;
	--light: #ffffff;
	--black: #3c3e3f;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* (•̀ ω •́)✧ base things */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(/media/daybg.png);
	background-repeat: repeat;
	background-size: cover;
	font-family: "MS PGothic", verdana, monospace;
	font-size: 12px;
	letter-spacing: 2px;
	color: var(--dark);
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 10px;
	overflow-y: auto;
}

/* (•̀ ω •́)✧ layout containers */

.page-wrap {
	max-width: 750px;
	width: 100%;
	max-height: 90vh;
	overflow-y: auto;
	/* background: rgba(255, 255, 255, 0.9);
		border-radius: 12px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}

.banner {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	padding-bottom: 1%;
	width: 100%;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
	max-width: 750px;
	margin: 0 auto;
	/* border: solid #ff0000 2px; */
}

.left,
.right,
.center {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.left,
.right {
	width: 200px;
}

.left {
	align-self: flex-start;
	/* border: solid #9900ff 2px; */
}

.center {
	flex: 1;
	min-width: 300px;
}

.bubble {
	padding: 10px;
	background-color: var(--light);
	border: 1px dashed var(--accent2);
	border-radius: 10px;
}

.center>.bubble {
	height: 425px;
	padding: 3px;
}

.navigation ul {
	list-style-type: none;
	padding: 0;
}

/* (•̀ ω •́)✧ bubbles */

.mainframe {
	border: none;
	height: 100%;
	width: 100%;
}

.footer-container {
	margin: auto;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 700px;
	max-width: 700px;
	/* border: solid #ff0000 2px; */
}

.scrollframe {
	border: none;
	height: 100%;
	width: 100%;
}

/* 
.blinkies {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.scroller {
	display: flex;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.scroll-content {
	display: flex;
	animation: scroll 15s linear infinite;
}

.scroll-content:hover {
	animation-play-state: paused;
}

.scroll-content img {
	margin-right: 3px;
	height: auto;
	max-height: 40px;
	width: auto;
	transition: all 0.3s ease;
}

.scroll-content img:hover {
	filter: drop-shadow(0 0 5px var(--accent1)) drop-shadow(0 0 10px var(--accent1));
	transform: scale(1.05);
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
} */

h1,
h2,
h3,
h4 {
	color: var(--black);
	font-family: bitbit;
	text-shadow: 1px 1px 1px var(--medium);
	margin: 0px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: underline;
}

em {
	font-weight: bold;
	font-style: normal;
	color: var(--black);
	text-shadow: 1px 1px 1px var(--medium);
}

a {
	color: var(--medium);
}

/* (•̀ ω •́)✧ now playing script */

#listening {
	padding-top: 10px;
	text-align: center;
}

#cover {
	width: 75%;
	border: 1px solid var(--accent2);
}

#trackName {
	margin: 2px 0 5px 0;
}

#artistName {
	margin: 1px;
	font-weight: bold;
	font-size: 10px;
	color: var(--black);
	text-shadow: 1px 1px 1px var(--medium);
}

/* cover effect */

.cover-wrapper {
	position: relative;
	display: inline-block;
}

.cover-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url('/media/cherry.gif') repeat;
	opacity: 1;
	mix-blend-mode: screen;

	z-index: 2;
}

/* (•̀ ω •́)✧ status script */

#statuscafe-username {
	font-size: 8px;
}

/* (•̀ ω •́)✧ scrollbars */

* {
	scrollbar-width: thin;
	scrollbar-color: var(--dark) white;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--dark);
	border-radius: 10px;
	border: 3px double #ffffff;
}

::selection {
	color: white;
	background: var(--dark);
}

/* cherry blossom float */

/* body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url('/media/cherry.gif');
	background-size: 75%;
} */